<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS training</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>

    <script src="js/vue.js"></script>
</head>
<body>

<div class="grid-x">
    <div class="cell medium-4 large-4">
        <div id="app">
            {{ message }}
        </div>
        <script>
            let app = new Vue({
                el: '#app',
                data: {
                    message: 'سلام به ویو جی اس'
                }
            })
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="app-2">
          <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
          </span>
        </div>
        <script>
            let app2 = new Vue({
                el : "#app-2",
                data : {
                    message: 'You loaded this page on ' + new Date().toLocaleString()
                }
            })
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="app-3">
            <span v-if="seen">Now you see me</span>
        </div>
        <script>
            let app3 = new Vue({
                el : "#app-3",
                data : {
                    seen:true
                }
            })
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="app-4">
            <ul>
                <li v-for="todo in todos">{{todo.text}}</li>
            </ul>

            <input v-model="newTodo.text" type="text" v-on:keyup.enter="add" />
        </div>
        <script>
            let app4 = new Vue({
                el : "#app-4",
                data : {
                    newTodo : {text:""},
                    todos :[
                        {text: "نوشتن پروپوزال",complete:true},
                        {text: "طراحی قالب",complete:false},
                        {text: "طراحی جداول دیتابیس",complete:true},
                    ]
                },
                methods : {
                    add : function (){
                        this.todos.push({text: this.newTodo.text});

                    }
                }
            })
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="app-5">
            <p>{{ message }}</p>
            <button class="button success" v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <script>
            let app5 = new Vue({
                el : "#app-5",
                data : {
                    message : "این یک پیام اسست"
                },
                methods :{
                    reverseMessage : function (){
                        this.message =  "است پیام یک این";
                    }
                }
            })
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="app-6">
            <span>{{message}}</span>
            <input type="text" v-model="message">
        </div>
        <script>
            let app6 = new Vue({
                el: '#app-6',
                data: {
                    message: 'Hello Vue!'
                }
            })
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="app-7">
            <ol>
                <!--
                  Now we provide each todo-item with the todo object
                  it's representing, so that its content can be dynamic.
                  We also need to provide each component with a "key",
                  which will be explained later.
                -->
                <todo-item
                        v-for="item in groceryList"
                        v-bind:todo="item"
                        v-bind:key="item.id">
                </todo-item>
            </ol>
        </div>
        <script>
            Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
            });

            let app7 = new Vue({
                el: '#app-7',
                data: {
                    groceryList: [
                        { id: 0, text: 'Vegetables' },
                        { id: 1, text: 'Cheese' },
                        { id: 2, text: 'Whatever else humans are supposed to eat' }
                    ]
                }
            })
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <script>
            new Vue({
                data: {
                    a: 1
                },
                created: function () {
                    // `this` points to the vm instance
                    console.log('a is: ' + this.a)
                }
            })
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <!-- full syntax -->
        <a v-bind:href="url"> ... </a>

        <!-- shorthand -->
        <a :href="url"> ... </a>


        <!-- full syntax -->
        <a v-on:click="doSomething"> ... </a>

        <!-- shorthand -->
        <a @click="doSomething"> ... </a>
    </div>
    <div class="cell medium-4 large-4">
        <div id="app-8">
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
        </div>
        <script>
            let app8 = new Vue({
                el: '#app-8',
                data: {
                    message: 'Hello'
                },
                computed: {
                    // a computed getter
                    reversedMessage: function () {
                        // `this` points to the vm instance
                        return this.message.split('').reverse().join('')
                    }
                }
            })
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="app-9">{{ fullName }}</div>
        <script>
            let app9 = new Vue({
                el: '#app-9',
                data: {
                    firstName: 'Foo',
                    lastName: 'Bar',
                    fullName: 'Foo Bar'
                },
                watch: {
                    firstName: function (val) {
                        this.fullName = val + ' ' + this.lastName
                    },
                    lastName: function (val) {
                        this.fullName = this.firstName + ' ' + val
                    }
                }
            })
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <script>

           /* computed: {
                fullName: {
                    // getter
                    get: function () {
                        return this.firstName + ' ' + this.lastName
                    },
                    // setter
                    set: function (newValue) {
                        var names = newValue.split(' ')
                        this.firstName = names[0]
                        this.lastName = names[names.length - 1]
                    }
                }
            }*/

        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="app-10">
            <div class="static"
                 v-bind:class="{ active: isActive, 'text-danger': hasError }">
                this is class binding 1
            </div>
            <div class="static"
                 v-bind:class="classObject">
                this is class binding 2
            </div>
        </div>

        <script>
            let app10 = new Vue({
                el : "#app-10",
                data : {
                    isActive : true,
                    hasError : false
                },
                computed: {
                    classObject: function () {
                        return {
                            active: this.isActive && !this.error,
                            'text-danger': this.error && this.error.type === 'fatal'
                        }
                    }
                }
            });
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="app-11">
            <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">
                Binding Inline Styles 1
            </div>
            <div v-bind:style="styleObject">
                Binding Inline Styles 2
            </div>
        </div>
        <script>
            let app11 = new Vue({
                el : "#app-11",
                data: {
                    activeColor: 'red',
                    fontSize: 30,
                    styleObject: {
                        color: 'red',
                        fontSize: '13px'
                    }
                },
                computed: {
                    classObject: function () {
                        return {
                            active: this.isActive && !this.error,
                            'text-danger': this.error && this.error.type === 'fatal'
                        }
                    }
                }
            });
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="app-12">
            <h1 v-if="ok">Yes</h1>
            <h1 v-else>No</h1>


            <template v-if="ok">
                <h1>Title</h1>
                <p>Paragraph 1</p>
                <p>Paragraph 2</p>
            </template>



            <div v-if="type === 'A'">
                A
            </div>
            <div v-else-if="type === 'B'">
                B
            </div>
            <div v-else-if="type === 'C'">
                C
            </div>
            <div v-else>
                Not A/B/C
            </div>


            <h1 v-show="ok">Hello!</h1>
        </div>
        <script>
            let app12 = new Vue({
                el : "#app-12",
                data : {
                    ok : true,
                    type:"B"
                }
            });
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="app-13">
            <ul>
                <li v-for="item in items">
                    {{ item.message }}
                </li>
            </ul>
            <ul>
                <li v-for="(item, index) in items">
                    {{ parentMessage }} - {{ index }} - {{ item.message }}
                </li>
            </ul>
            <ul>
                <li v-for="value in object">
                    {{ value}}
                </li>
            </ul>

        </div>

        <script>
            let app13 = new Vue({
                el : "#app-13",
                data : {
                    parentMessage : "this is parrent message",
                    items : [
                        {message: "message 1"},
                        {message: "message 2"},
                        {message: "message 3"},
                        {message: "message 4"},
                    ],
                    object : {
                        name : "jamal",
                        familly : "ghasemi",
                        age : 32
                    }

                }
            });
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="todo-list-example">
            <form v-on:submit.prevent="addNewTodo">
                <label for="new-todo">Add a todo</label>
                <input
                        v-model="newTodoText"
                        id="new-todo"
                        placeholder="E.g. Feed the cat"
                >
                <button class="button success">Add</button>
            </form>
            <ul>
                <li
                        is="todo-item"
                        v-for="(todo, index) in todos"
                        v-bind:key="todo.id"
                        v-bind:title="todo.title"
                        v-on:remove="todos.splice(index, 1)"
                ></li>
            </ul>
        </div>
        <script>
            Vue.component('todo-item', {
                template: '\
    <li>\
      {{ title }}\
      <button class="button warning" v-on:click="$emit(\'remove\')">Remove</button>\
    </li>\
  ',
                props: ['title']
            })

            new Vue({
                el: '#todo-list-example',
                data: {
                    newTodoText: '',
                    todos: [
                        {
                            id: 1,
                            title: 'Do the dishes',
                        },
                        {
                            id: 2,
                            title: 'Take out the trash',
                        },
                        {
                            id: 3,
                            title: 'Mow the lawn'
                        }
                    ],
                    nextTodoId: 4
                },
                methods: {
                    addNewTodo: function () {
                        this.todos.push({
                            id: this.nextTodoId++,
                            title: this.newTodoText
                        })
                        this.newTodoText = ''
                    }
                }
            })
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="app-14">
            <button class="button primary" v-on:click="counter += 1">Add 1</button>
            <p>The button above has been clicked {{ counter }} times.</p>
            <button class="button secondary" v-on:click="greet">Greet</button>
            <button class="button success" v-on:click="say('hi')">Say hi</button>
            <button class="button success" v-on:click="say('what')">Say what</button>
        </div>
        <script>
            let app14 = new Vue({
                el : "#app-14",
                data : {
                    counter : 0,
                    name : "Sayyed jamal ghasemi"
                },
                methods: {
                    greet: function (event) {
                        // `this` inside methods points to the Vue instance
                        alert('Hello ' + this.name + '!')
                        // `event` is the native DOM event
                        if (event) {
                            alert(event.target.tagName)
                        }
                    },
                    say: function (message) {
                        alert(message)
                    }
                }
            })
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="components-demo">
            <button-counter></button-counter>
            <button-counter></button-counter>
            <button-counter></button-counter>
        </div>
        <script>
            Vue.component('button-counter', {
                data: function () {
                    return {
                        count: 0
                    }
                },
                template: '<button class="button primary" v-on:click="count++">You clicked me {{ count }} times.</button>'
            });
            new Vue({ el: '#components-demo' });
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="blog-post-demo">
            <blog-post
                    v-for="post in posts"
                    v-bind:key="post.id"
                    v-bind:title="post.title"
            ></blog-post>
        </div>

        <script>
            Vue.component('blog-post', {
                props: ['title'],
                template: '<h3>{{ title }}</h3>'
            });
            new Vue({
                el: '#blog-post-demo',
                data: {
                    posts: [
                        { id: 1, title: 'My journey with Vue' },
                        { id: 2, title: 'Blogging with Vue' },
                        { id: 3, title: 'Why Vue is so fun' }
                    ]
                }
            });
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="todo-app">
            <ul>
                <li v-for="(todo,index) in UncompleteTodos" v-bind:class="{complete: todo.isComplete}" v-on:click="doComplete(todo.id)">{{todo.text}}</li>
            </ul>
            <input type="text" v-model="newTodo.text" v-on:keyup.enter="addNewTodo">


            <div>
                <h3>لیست کارهای انجام شده</h3>
                <ul>
                    <my-todo-item v-for="(todo,index) in completeTodos" v-bind:class="{complete: todo.isComplete}"  v-bind:todo="todo" v-bind:key="todo.id"></my-todo-item>
                </ul>
            </div>
        </div>
        <script>
            window.Event = new Vue();
            Vue.component('my-todo-item', {
                props: ['todo'],
                template: '<li v-on:click.prevent="cpdoUnComplete(todo.id)" >{{ todo.text }}</li>',
                methods : {
                    cpdoUnComplete(index) {
                        console.log("Uncomplete");
                        Event.$emit('Uncomplete' , index);
                    }
                }
            });
            let todoapp= new Vue({
                el : "#todo-app",

                data :{

                    id : 3,
                    newTodo : {id:3,text :"",isComplete:false},
                    todos : [
                        {id:0,text :"طراحی وبسایت",isComplete:true},
                        {id:1,text :"مذاکره با مشتری",isComplete:false},
                        {id:2,text :"عقد قرارداد",isComplete:true},
                    ]
                },
                methods : {
                    doComplete : function(index){
                        this.todos[index].isComplete=true;
                    },
                    doUnComplete : function(index){
                        this.todos[index].isComplete=false;
                    },
                    addNewTodo : function(){
                        this.todos.push(this.newTodo);
                        this.id++;
                        this.newTodo={id:this.id,text :"",isComplete:false};
                    },

                },
                computed : {
                    completeTodos : function(){
                        return this.todos.filter(todo => todo.isComplete)
                    },
                    UncompleteTodos : function(){
                        return this.todos.filter(todo => !todo.isComplete)
                    }
                },
                created() {
                    Event.$on('Uncomplete' , (index) => {
                        this.doUnComplete(index);
                    });
                }
            });
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <jumbotron>
            <h1 slot="title">سلام دنیا</h1>
            لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.

        </jumbotron>
        <!--
                    <jumbotron title="سلام ویو" message="                لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.

        "></jumbotron>-->
        <script>
            Vue.component('jumbotron',{
                props : ['title','message'],
                template : `
          <div class="jumbotron">
            <slot name="title"></slot>
            <p>
            <slot></slot>

            </p>
            <p>
                <a href="#" class="btn btn-primary btn-lg" role="button">
                    مشاهده بیشتر
                </a>
            </p>
        </div>
          `
            });
            new Vue({
                el : "#app"
            })
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="filters">
            {{ 'jamal ghasemi' | size }}
            {{ 'jamal ghasemi' | capitalize }}
            {{  | capitalize }}
        </div>
        <script>
            Vue.filter('capitalize',(value)=>{
                try {
                    return value.charAt(0).toUpperCase() + value.slice(1);
                }
                catch (e){
                    console.error(e.message);
                }

            });
            new Vue({
               el : "#filters",
                filters:{
                   size(value){
                       return value.length;
                   }
                }
            });
        </script>
    </div>
    <div class="cell medium-4 large-4">
        <div id="custom-directive">
            <h1>{{ message }}</h1>
            <h1 v-text="message"></h1>
            <h1 v-mytext="message"></h1>

        </div>
        <script>
            Vue.directive('mytext',{
                bind(el , binding , vnode) {
                    el.innerHTML = binding.value;
                }
            });
            new Vue({
                el : "#custom-directive",
                data : {
                    message : "Hello Word"
                }
            });
        </script>
    </div>
    <div class="cell medium-4 large-4">

    </div>
    <div class="cell medium-4 large-4">

    </div>
    <div class="cell medium-4 large-4">

    </div>
    <div class="cell medium-4 large-4">

    </div>
    <div class="cell medium-4 large-4">

    </div>
    <div class="cell medium-4 large-4">

    </div>
    <div class="cell medium-4 large-4">

    </div>
    <div class="cell medium-4 large-4">

    </div>
    <div class="cell medium-4 large-4">

    </div>
    <div class="cell medium-4 large-4">

    </div>

</div>
</body>
</html>