<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS training</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>

    <script src="js/vue.js"></script>
</head>
<body>

<div class="grid-x">
    <div class="cell medium-6 large-6">
        <div id="app">
            {{ message }}
        </div>
        <script>
            let app = new Vue({
                el: '#app',
                data: {
                    message: 'سلام به ویو جی اس'
                }
            })
        </script>
    </div>
    <div class="cell medium-6 large-6">
        <div id="app-2">
          <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
          </span>
        </div>
        <script>
            let app2 = new Vue({
                el : "#app-2",
                data : {
                    message: 'You loaded this page on ' + new Date().toLocaleString()
                }
            })
        </script>
    </div>
    <div class="cell medium-6 large-6">
        <div id="app-3">
            <span v-if="seen">Now you see me</span>
        </div>
        <script>
            let app3 = new Vue({
                el : "#app-3",
                data : {
                    seen:true
                }
            })
        </script>
    </div>
    <div class="cell medium-6 large-6">
        <div id="app-4">
            <ul>
                <li v-for="todo in todos">{{todo.text}}</li>
            </ul>

            <input v-model="newTodo.text" type="text" v-on:keyup.enter="add" />
        </div>
        <script>
            let app4 = new Vue({
                el : "#app-4",
                data : {
                    newTodo : {text:""},
                    todos :[
                        {text: "نوشتن پروپوزال",complete:true},
                        {text: "طراحی قالب",complete:false},
                        {text: "طراحی جداول دیتابیس",complete:true},
                    ]
                },
                methods : {
                    add : function (){
                        this.todos.push({text: this.newTodo.text});

                    }
                }
            })
        </script>
    </div>
    <div class="cell medium-6 large-6">
        <div id="app-5">
            <p>{{ message }}</p>
            <button class="button success" v-on:click="reverseMessage">Reverse Message</button>
        </div>
        <script>
            let app5 = new Vue({
                el : "#app-5",
                data : {
                    message : "این یک پیام اسست"
                },
                methods :{
                    reverseMessage : function (){
                        this.message =  "است پیام یک این";
                    }
                }
            })
        </script>
    </div>
    <div class="cell medium-6 large-6">
        <div id="app-6">
            <span>{{message}}</span>
            <input type="text" v-model="message">
        </div>
        <script>
            let app6 = new Vue({
                el: '#app-6',
                data: {
                    message: 'Hello Vue!'
                }
            })
        </script>
    </div>
    <div class="cell medium-6 large-6">
        <div id="app-7">
            <ol>
                <!--
                  Now we provide each todo-item with the todo object
                  it's representing, so that its content can be dynamic.
                  We also need to provide each component with a "key",
                  which will be explained later.
                -->
                <todo-item
                        v-for="item in groceryList"
                        v-bind:todo="item"
                        v-bind:key="item.id">
                </todo-item>
            </ol>
        </div>
        <script>
            Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
            });

            let app7 = new Vue({
                el: '#app-7',
                data: {
                    groceryList: [
                        { id: 0, text: 'Vegetables' },
                        { id: 1, text: 'Cheese' },
                        { id: 2, text: 'Whatever else humans are supposed to eat' }
                    ]
                }
            })
        </script>
    </div>
    <div class="cell medium-6 large-6">
        <script>
            new Vue({
                data: {
                    a: 1
                },
                created: function () {
                    // `this` points to the vm instance
                    console.log('a is: ' + this.a)
                }
            })
        </script>
    </div>
    <div class="cell medium-6 large-6">
        <!-- full syntax -->
        <a v-bind:href="url"> ... </a>

        <!-- shorthand -->
        <a :href="url"> ... </a>


        <!-- full syntax -->
        <a v-on:click="doSomething"> ... </a>

        <!-- shorthand -->
        <a @click="doSomething"> ... </a>
    </div>
    <div class="cell medium-6 large-6">
        <div id="app-8">
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
        </div>
        <script>
            let app8 = new Vue({
                el: '#app-8',
                data: {
                    message: 'Hello'
                },
                computed: {
                    // a computed getter
                    reversedMessage: function () {
                        // `this` points to the vm instance
                        return this.message.split('').reverse().join('')
                    }
                }
            })
        </script>
    </div>
    <div class="cell medium-6 large-6">
        <div id="app-9">{{ fullName }}</div>
        <script>
            let app9 = new Vue({
                el: '#app-9',
                data: {
                    firstName: 'Foo',
                    lastName: 'Bar',
                    fullName: 'Foo Bar'
                },
                watch: {
                    firstName: function (val) {
                        this.fullName = val + ' ' + this.lastName
                    },
                    lastName: function (val) {
                        this.fullName = this.firstName + ' ' + val
                    }
                }
            })
        </script>
    </div>
    <div class="cell medium-6 large-6">
        <script>

           /* computed: {
                fullName: {
                    // getter
                    get: function () {
                        return this.firstName + ' ' + this.lastName
                    },
                    // setter
                    set: function (newValue) {
                        var names = newValue.split(' ')
                        this.firstName = names[0]
                        this.lastName = names[names.length - 1]
                    }
                }
            }*/

        </script>
    </div>
    <div class="cell medium-6 large-6">
        <div id="app-10">
            <div class="static"
                 v-bind:class="{ active: isActive, 'text-danger': hasError }">
                this is class binding 1
            </div>
            <div class="static"
                 v-bind:class="classObject">
                this is class binding 2
            </div>
        </div>

        <script>
            let app10 = new Vue({
                el : "#app-10",
                data : {
                    isActive : true,
                    hasError : false
                },
                computed: {
                    classObject: function () {
                        return {
                            active: this.isActive && !this.error,
                            'text-danger': this.error && this.error.type === 'fatal'
                        }
                    }
                }
            });
        </script>
    </div>
    <div class="cell medium-6 large-6">
        <div id="app-11">
            <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">
                Binding Inline Styles 1
            </div>
            <div v-bind:style="styleObject">
                Binding Inline Styles 2
            </div>
        </div>
        <script>
            let app11 = new Vue({
                el : "#app-11",
                data: {
                    activeColor: 'red',
                    fontSize: 30,
                    styleObject: {
                        color: 'red',
                        fontSize: '13px'
                    }
                },
                computed: {
                    classObject: function () {
                        return {
                            active: this.isActive && !this.error,
                            'text-danger': this.error && this.error.type === 'fatal'
                        }
                    }
                }
            });
        </script>
    </div>
    <div class="cell medium-6 large-6">
        <div id="app-12">
            <h1 v-if="ok">Yes</h1>
            <h1 v-else>No</h1>


            <template v-if="ok">
                <h1>Title</h1>
                <p>Paragraph 1</p>
                <p>Paragraph 2</p>
            </template>



            <div v-if="type === 'A'">
                A
            </div>
            <div v-else-if="type === 'B'">
                B
            </div>
            <div v-else-if="type === 'C'">
                C
            </div>
            <div v-else>
                Not A/B/C
            </div>
        </div>
        <script>
            let app12 = new Vue({
                el : "#app-12",
                data : {
                    ok : true,
                    type:"B"
                }
            });
        </script>
    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>
    <div class="cell medium-6 large-6">

    </div>

</div>
</body>
</html>